.navbar-nav .nav-link.active {
    color: white;
    font-weight: 700;
    
  }
  .navbar-nav .nav-link {
    font-size: 0.9rem;
  }
  .navbar-brand {
    color: #fff;
    /* color:var(--moss3); */
    font-weight: 500;
    font-size: 1.3rem;
    transition: 0.3s ease-in;
  }
  .navbar-brand:hover {
    color: white; 
    transform: scale(1.1);
  }
  .bg-navy {
    /* background-color: transparent; */
    background-color: #0D4286;
    /* background-color: #fff; */
    /* background: linear-gradient(to right, #021347, #004272, #004272);  */
    /* background-color: #03658C; */
    /* background-color: #003399; */
    /* background-color: rgb(98, 96, 96); */
  }
  .navbar-nav a {
    color: white;
  }
  .navbar-nav a:hover {
   transform: scale(1.05);
    color: white;
  }
  /* .navbar-nav .nav-link.show {
    color: white;
  }
  .nav-link:focus {
    color: white;
  } */
  .dropdown-item.active {
    background-color: white;
    color: #021347;
  }
  .dropdown-menu a {
    background-color: white;
    color: #021347;
    font-size: 0.8rem
  }
  .dropdown-menu a:hover {
    background-color: white;
    color: #021347;
    transform: scale(1);
    font-weight: 500;
  }
  
  
  
  