.achievements-wrapper {
    /* background-color: rgb(247, 247, 253); */
    background-color: #164889;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .achievements-wrapper h4 {
    color: #fff;
  }
  .achi-img {
    width: 100%;
    height: auto;
  }
  .achi-text p {
    font-size: 14px;
    line-height: 1.8;
    
  }
  .achi-text {
    padding: 50px 20px;
    width: 100%;
    height: auto;
    background-color: #fff;
  }
  @media (min-width:768px) {
    .achi-img {
      height: 500px;
    }
    .achi-text {
      height: 500px;
    }
  }