.footer {
    background-color: rgb(246, 246, 248);
}
.footer-para {
    font-size: 0.8rem;
    color: rgb(99, 98, 98);
    text-decoration: none;
}
.footer-icon-div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(230, 217, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-icon-div span {
    text-decoration: none;
}
.para-mb {
    margin-bottom: 60px;
}