.footer {
    /* background-color: rgb(246, 246, 248); */
    background-color: #0D4286;
}
.footer-para {
    font-size: 0.8rem;
    /* color: rgb(99, 98, 98); */
    color: #dedee0;
    text-decoration: none;
}
.footer-para:hover{
  
    color: #fff;
}
.footer h6 {
    color: #fff;
}
.footer-icon-div {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(230, 217, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-icon-div span {
    text-decoration: none;
}
.para-mb {
    margin-bottom: 60px;
}
.footer-para span {
    color: #fff;
}